<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile  name="File" filePattern="logs/SuffixingApp-%d{MM-dd-yyyy}-%i.log" immediateFlush="true">
            <JsonLayout complete="false" compact="false">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd HH:mm:ss}" />
            </JsonLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile >
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>>
</Configuration>